body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E0F8F1;
    
}
form {border: 3px solid #f1f1f1; padding: 0%; top:0; margin: 0%;}

input[type=text], input[type=password] {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px inset #ccc;
    box-sizing: border-box;
}
fieldset {
 border:1px solid silver;
 margin:0 2px;
 padding:.35em .625em .75em;
 
}

input, textarea, select {

    border-radius: 12px;
}



button {
    background-color: #238E23;
    border: outset 1.5px #27a727;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    width: 20%;   
}

button:hover {
    opacity: 0.8;
    border: inset #27a727;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.btn {
    width: auto;
    padding: 10px 18px;
    background-color: #238E23;
}
.center{
	border-style: inset;
	border-width: 5px;
	border-color:#ffff00;
	position: absolute;
    left:25%;
    top: 10%;
    width: 50%;
    text-align: center;
    font-size: 18px;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

.avatar {
    width: 40%;
    border-radius: 50%;
}
.select{
	cursor: pointer;
}


span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
.cancelbtn {
       width: 100%;
    }
}

/* Inicio do barra de navegacao */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #238E23;
    border-radius: 12px;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 25px 30px;
    text-decoration: none;
    font: bold;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #27a727;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #63e563;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: 1.5px outset #27a727;
    border-radius: 12px;
    margin: -2px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
/* Fim do barra de navegacao */

/* Inicio Roda Pe */
.rodape-pagina {

	background-color: #238E23;
	color: #F2FFFC;
    clear: both;
    position: fixed;
	bottom: 0;
	width: 96%;
    padding: 25px 30px;
    border-radius: 12px;
       
}
/* Fim do Roda pe*/